// Normally mainpage styles
 
 /*------fixed-sidebar------*/
.fixed_sidebar{
	position: fixed;
	right: 0;
	top: 50%;
	width: 60px;
	z-index: 11;
	margin-top: -100px;
	a{
		display: block;
		width: 60px;
		height: 60px;
		margin-bottom: 5px;
		background:$third_color;
		text-align: center;
		&:hover{
			background:$second_color;
		}
		span{
			display: table-cell;
			vertical-align: middle;
			width: 60px;
			height: 60px;
		}
	}
}

 /*------end-fixed-sidebar------*/

 /*------header------*/
 .header{
	height: 80px;
	background:#f3f3f3;
	border-bottom: 5px solid $third_color;
	box-shadow: 0 2px 10px lightgrey;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
 	.container{
 		position: static;
 		overflow: visible;
 	}
 }
	.logo{
		float: right;
		padding: 8px 0 0 0;
	}
	/*------menu------*/
	.menu{
		float: left;
		width: 800px;
		padding-left: 10px;
		li{
			display: inline-block;
			padding: 0 8px;
			a{
				display: block;
				height: 80px;
				line-height: 80px;
				color: $second_color;
				font-weight: 500;
				font-size: 14px;
				text-decoration: none;
				@include povh('');
			}
			&:active, &:hover, &.active{
				a:before{
					content: '';
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					height: 5px;
					background:$third_color;
				}
			} 
			&:hover {
				.drop_menu{
					display: block;
				}
			}
		}
	}
		.drop_menu{
			position: absolute;
			left: 0;
			top: 80px;
			z-index: 10;
			width: 100%;
			background:$third_color;
			height: 45px;
			box-shadow: inset 0 2px 5px #c25613;
			display: none;
			ul{
				margin: 0 auto;
				li{
					padding: 0 2px;
					a{
						height: 45px;
						line-height: 45px;
						color: #fff;
						padding: 0 8px;
						&:before{
							display: none;
						}
						&:hover{
							background:$second_color;
						}
					}
				}
			}
		}
	 /*-----end-menu------*/

 /*-----main------*/
 .main{
	@include povh('');
 }
	/*-----top-img------*/
	.top_image{
		text-align: center;
		@include povh('');
	}
		.top_image_text{
			position: absolute;
			width: 698px;
			height: 251px;
			z-index: 2;
			left: 50%;
			margin-left: -350px;
			top: 40px;
			text-align: center;
			background: rgba(242,242,242, 0.85);
			color: $main_color;
			font-size: 18px;
			h4{
				text-transform: uppercase;
				font-weight: 500;
				padding: 0 115px;
				font-size: 18px;
				padding-top: 21px;
			}
			h6{
				font-style: italic;
				font-size: 18px;
				padding-bottom: 17px;
			}
			p{
				padding: 0 67px;
				text-transform: uppercase;
				font-size: 15px;
				color: $second_color;
				padding-bottom: 15px;
			}
			em{
				display: block;
				font-size: 14px;
				color: $second_color;
				font-style: italic;
				padding: 13px 0 0 0;
			}
			section{
				font-size: 12px;
				color: $second_color;
				text-align: center;
				line-height: 15px;
				padding: 0 65px;
				margin-top: 16px;
			}
			article{
				font-size: 18px;
				font-style: italic;
				padding-top: 70px;
			}
			h2{
				font-size: 36px;
				font-style: italic;
			}
		}
		.top_image_sample{
			top: 23px;
		}
		.top_image_quote{
			height: 220px;
			color: #231f1f;
			font-family: $ffamily;
			font-size: 36px;
			font-style: italic;
			line-height: 1;
			blockquote{
				padding: 75px 0 0 0;
			}
			&:before{
				content: '“';
				position: absolute;
				color: #231f1f;
				font-family: $ffamily;
				font-size: 150px;
				font-style: italic;
				left: 49px;
   				top: 77px;
			}
			&:after{
				content: '”';
				position: absolute;
				color: #231f1f;
				font-family: $ffamily;
				font-size: 150px;
				font-style: italic;
				right: 59px;
   				top: 77px;
			}
		}

	/*-----end-top-img------*/
	
	/*-----center-text------*/
	.center_txt{
		padding: 25px 0;
		text-align: center;
		figure{
			margin: 0 auto;
			width: 100px;
			height: 100px;
			border: 5px solid #132b51;
			border-radius:50%;
			box-shadow: inset 0 0 5px rgba(35,31,32,.6);
			figcaption{
				width: 100px;
				height: 100px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
		h2{
			padding: 9px 0 25px 0;
			color: #132b51;
			font-family: $fontfamily;
			font-size: 50px;
			font-weight: bold;

		}
		p{
			color: #231f1f;
			font-size: 16px;
			padding-bottom: 23px;
		}
		hr{
			width: 98px;
			height: 5px;
			background-color: #ef6b17;
			margin: auto;
			border: none;
		}
	}
	.title{
		padding: 9px 0 25px 0;
		color: #132b51;
		font-family: $fontfamily;
		font-size: 50px;
		small{
			font-size: 35px;
		}
	}
	/*-----end-center-text------*/

	/*-----OUR-JOBS------*/
	.our_jobs_wrapper, .our_jobs_inner{
		@include povh('');
	}
		.subtitle{
			color: #132b51;
			font-family: $fontfamily;
			font-size: 36px;
			@include povh('');
			text-align: center;
			margin-bottom: 50px;
			&:before{
				content: '';
				position: absolute;
				top: 20px;
				left: 0;
				width: 100%;
				height: 1px;
				background:$second_color;
			}
			strong{
				font-weight: normal;
				padding: 0 40px;
				position: relative;
				z-index: 2;
				display: inline-block;
				background: url('../img/icons/bg.png') left top repeat;
			}
		}
		.our_jobs_block{
			float: left;
			width: 500px;
			text-align: center;
			margin-bottom: 35px;
			h6{
				font-size: 16px;
				text-transform: uppercase;
				padding-bottom: 22px;
			}
			h5{
				font-weight: bold;
				color: $second_color;
				text-transform: uppercase;
				padding-bottom: 18px;
				font-size:18px;
			}
			&:last-child{
				float: right;
			}
		}

	/*-----end-OUR-JOBS------*/
/*-----end-main------*/	

/*-----footer------*/
 .footer{
	@include povh('');
	padding-top: 45px;
 }

	.top_footer_wrapper{
		height: 180px;
		background-color: #132b51;
		box-shadow: 5px 0 8px rgba(0,0,0,.37);
		&:before{
			content: '';
			position: absolute;
			bottom: 65px;
			left: 50%;
			@include arr(8,8, #f06b18, t);
		}
		p{
			color: #fff;
			font-size: 14px;
			padding-bottom: 10px;
		}
		.container{
			padding: 25px 0 0 0;
		}
		.button{
			img{
				padding-left: 8px;
			}
		}
	}
		.foot_title{
			color: #fff;
			font-size: 35px;
			font-family: $fontfamily;
			text-transform: uppercase;
		}
		.foot_contacts{
			float: left;
			width:280px;
			height: 126px;
			border-right: 1px solid #b7b7b7;
		}
		.foot_news{
			float: right;
			width: 250px;
			height: 126px;
			padding-left: 75px;
			border-left: 1px solid #b7b7b7;
			form{
				vertical-align: top;
				button{
					padding-left: 9px;
					color: #fff;
					font-size: 14px;
					text-decoration: underline;
					background: none;
				}
			}
		}
		.foot_social{
			overflow: hidden;
			padding: 0 0 0 65px;
			nav{
				a{
					padding: 0 7px 0 0;
				}
			}
		}

	
	.foot_menu{
		height: 65px;
		background-color: #ef6b17;
		box-shadow: 5px 0 8px rgba(0,0,0,.37);
		text-align: center;
		ul{
			padding-top: 26px;
		}
		li{
			display: inline-block;
			padding: 0 15px;
		}
		a{
			color: #fff;
			font-size: 12px;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}	
	}
/*----end-footer------*/

/*--------------sommes.html--------------------*/

/*-----tags-----*/
.tags_wrap{
	text-align: center;
	font-size: 0;
	padding: 60px 0 30px 0;
	figure{
		display: inline-block;
		width: 33%;
		color: $second_color;
		font-size: 30px;
		font-family:$fontfamily;
		position: relative;
		padding: 0 22px;
		box-sizing: border-box;
		margin-bottom: 50px;
		text-transform: uppercase;
		& > span{
			height: 100px;
			width: 100%;
			display: block;
			span{
				display: table-cell;
				height: 100px;
				vertical-align: bottom;
				width: 300px;
				text-align: center;
			}
		}
		figcaption{
			padding: 18px 0 0 0;
		}
		&:before{
			content: '';
			width: 1px;
			height: 82px;
			background-color: #132b51;
			position: absolute;
			right: 0;
			top: 90px;
		}
		&:nth-child(3n):before{
			display: none;
		}
	}
}
/*----end-tags-----*/

/*----associates-----*/
.associates_wrap{
	padding: 34px 0;	
}
	.main_title{
		font-size: 50px;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.3;
		strong{
			display: block;
			padding: 0px 0 10px 0;
		}
		hr{
			margin: 0 auto;
			width: 700px;
			display: block;
			border: none;
			border-top: 1px solid #414042;
		}
	}

	.associates_inner{
		border-bottom: 1px solid #414042;
		padding:50px 0  37px 0;
	}
	.associates_inner, .associates_block, .associates_item{
		@include povh('');
		text-align: center;
	}
		.associates_item {
			display: inline-block;
			vertical-align: top;
			width: 220px;
			margin-bottom: 37px;
			figure{
				font-weight: bold;
				text-transform: uppercase;
				img{
					display: block;
					margin: 0 auto;
					border: 16px solid #fff;
					box-shadow: 2px 4px 4px rgba(0,0,0,.3);
					margin-bottom: 13px;
				}
			}
			p{
				font-style: italic;
				font-weight: 500;
			}
			&:hover .qoute{
				background:transparent url('../img/quote_orange.png') center no-repeat;
			}
			&:nth-child(2){
				margin: 0 90px;
			}
		}
			.qoute{
				margin: 0 auto;
				width: 38px;
				height: 38px;
				margin-top: 11px;
				background:transparent url('../img/quote.png') center no-repeat;
			}
			.qoute_text{
				color: #132b51;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				position: relative;
				blockquote{
					width: 60%;
					margin: auto;
				}
				&:before{
					content: '';
					width: 41px;
					height: 32px;
					position: absolute;
					left: 13%;
					top: 0;
					background:transparent url('../img/quote_big.png') left top no-repeat;
				}
				&:after{
					content: '';
					width: 41px;
					height: 32px;
					position: absolute;
					right: 13%;
					left: auto;
					top: 0;
					-moz-transform: scale(-1, 1);
					-webkit-transform: scale(-1, 1);
					-o-transform: scale(-1, 1);
					transform: scale(-1, 1);
					filter: FlipH;
					-ms-filter: "FlipH"; 
					background:transparent url('../img/quote_big.png') left top no-repeat;
				}
			}
/*----end-associates-----*/

/*----colaborators-----*/
.colaborators_wrap{
	padding: 41px 0 50px 0;
}
	.colaborators_inner{
		text-align: center;
		.associates_item{
			padding: 0 20px;
			&:nth-child(2){
				margin: auto;
			}
		}
	}
/*----end-colaborators-----*/


/*-----------------------affacturage.html--------------------------*/

/*------------mission-----------*/
.mission_wrap{
	line-height: 30px;
	margin-bottom: 40px;
	li{
		display: block;
		padding-left: 42px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			width: 9px;
			height: 9px;
			border-radius: 50%;
			background-color: #ef6b17;
		}
	}
	section{
		width: 52%;
		margin: auto;
	}
	small{
		display: block;
		text-align: center;
		font-size: 16px;
		margin: -15px 0 53px 0;
	}
	article{
		text-align: center;
		dl{
			padding-bottom: 46px;
			display: inline-block;
			width: 200px;
			margin: 0 40px;
			vertical-align: top;
			dt{
				font-size: 36px;
				color: $third_color;
				text-transform: uppercase;
				font-weight: 500;
			}
			dd{
				padding: 12px 0;
				font-size: 16px;
				color: $main_color;
				font-weight: 500;
			}
		}
	}
}
/*----------end--mission-----------*/

/*------------targets-----------*/
.targets_wrap{
	@include povh('');
	padding: 38px 0;
	font-size: 0;
}
	.targets_item{
		width: 50%;
		display: inline-block;
		color: #231f1f;
		line-height: 1.4;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		vertical-align: top;
		margin-bottom: 65px;
		figcaption{
			color: #132b51;
			font-family: $fontfamily;
			font-size: 50px;
			padding: 0 0 23px 0;
		}
	}
/*-----------end-targets-----------*/

/*------------------------pourquoi.html---------------------*/

/*-----------contexts-----------*/
.contexts_wrap{
	@include povh('');
	padding: 28px 0;
}
	.contexts_inner{
		text-align: center;
		 display: flex;
		 flex-wrap: wrap;
		 justify-content: space-between;
		 align-content: space-between;
	}
		.contexts_item{
			width: 417px;
			padding-bottom: 43px;
			span{
				display: block;
				height: 100px;
				vertical-align: bottom;
			}
			figcaption{
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 500;
				padding-bottom: 29px;
			}
			p{
				font-size: 16px;
			}
		}

/*-----------end-contexts-----------*/