// Normally mainpage styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 

//styles for custom device width
@include mq($max-width: 1100px) {
.wrapper{
	padding: 0;
}	
  	.container{
	width:auto;
	}
		
			.header{
				position: static;
			}
	.menu{
		float: none;
	}
	.our_jobs_block{
		width: 48%;
	}
	.map_wrap{
		img{
			max-width: 100%;
		}
	}
	.modal{
		width: auto !important;
	}
}

//styles for ipad
@include mq($media-type: 'all', $min-width: 768px, $max-width: 1024px) {
	.logo{
		float: none;
		display: block;
		text-align: center;
	}
	.header{
		height: auto;
	}
		.menu{
			width: 100%;
			text-align: center;
		}	
			.menu li a{
				font-size: 13px;
			}
		.drop_menu{
			top: 137px;
		}
	.foot_social{
		padding: 0 0 0 39px;
	}
	.foot_contacts{
		width: 260px;
		padding: 0 0 0 10px;
	}
	.contexts_item{
		margin: 0 auto;
	}
	.associates_item:nth-child(2){
		margin: 0 5px;
	}
	.colaborators_inner .associates_item{
		padding: 0 9px;
	}
	.foot_social{
		text-align: center;
	}
	.mission_wrap section{
		width: 72%;
	}
	.lang{
		right: 0;
	}
}

//styles for mobile phones
@include mq($max-width: 767px) {
	.logo{
		float: none;
		display: block;
		text-align: center;
	}
	.header{
		height: auto;
	}
		.menu{
			width: 100%;
			text-align: center;
			padding-left: 0;
			li{
				padding: 0;
				display: block;
				a{
					height: 45px;
					line-height: 45px;
					border-top: 1px solid #fff;
					img{
						position: relative;
						top: 4px;
					}
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}	
		.menu > ul{
			display: none;
		}
		.drop_menu{
			height: auto;
			position: static;
		}
	.foot_social{
		padding: 0 0 0 39px;
	}
	.foot_contacts{
		width: 260px;
		padding: 0 0 0 10px;
	}
	.trigger_menu{
		display: block;
		color: #132b51;
		font-family: $ffamily;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 10px 0;
		position: absolute;
		left: 9px;
    	top: 14px;
		span{
			position: relative;
			bottom: 8px;
			padding-left: 5px;
		}
		img{
			height: 30px;
		}
	}
	.our_jobs_block{
		float: none;
		width: 100%;
		padding: 0;
	}
		.top_footer_wrapper{
			height: auto;
			text-align: center;
		}
			.foot_contacts, .foot_news, .foot_social{
				width: 100%;
				float: none;
				border: none;
				margin: 0;
				padding: 0 0 20px 0;
			}
				.foot_title, .top_footer_wrapper p{
					text-align: center;
				}
	.foot_menu, .top_footer_wrapper:before{
		display: none;
	}

	.main_title, .title{
		font-size: 30px;
	}
	.top_image_text{
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	.top_image_text{
		/* display: none; */
	}
		.top_image_quote:before, .top_image_quote:after{
			display: none;
		}
	.contexts_item{
		width: 100%;
	}

	.tags_wrap figure{
		width: 95%;
		margin: 0 auto;
		padding-bottom: 40px;
		display: block;
		span{
			display: block;
			width: 100%;
			span{
				display: block;
				width: 100%;
			}
		}
		&:before{
			display: none;
		}
	}
	.associates_item, .colaborators_inner .associates_item{
		display: block;
		float: none;
		margin: auto;
		padding-bottom: 40px;
	}
		.associates_item:nth-child(2){
			margin: auto;
		}
	.mission_wrap section{
		width: 92%;
	}

	.qoute_text{
		&:before{

			left: 1%;

		}
		&:after{

			right: 1%;
		}
	}
	.targets_item figcaption{
		font-size: 30px;
	}
	.lang{
		right: 0;
	}
}

//styles for small tablets
@include mq($media-type: 'all', $min-width: 520px, $max-width: 767px) {
	.associates_item, .colaborators_inner .associates_item{
		display: inline-block;
	}
}

//styles for iphone
@include iphone5 {
	.targets_item{
		width: 95%;
		display: block;
		margin: 20px auto;
	}
} 

@include mq($max-width: 470px) {
	.modal_form{
		padding: 10px;
		input[type=text], input[type=email], select{
		width: 95%;
		box-sizing: border-box;
		}
	}
	iframe{
		width: 100% !important;
	}
	.trigger_menu span{
		display: none;
	}
	
	.top_image_quote{
		padding-bottom: 40px;
		blockquote {
			padding-top:40px;
			font-size: 19px;
			line-height: 1.5;
		}
	}

	.top_image_text{
			height: auto;
			font-size: 12px;
			h4{
				text-transform: uppercase;
				font-weight: 500;
				padding: 0 5px;
				font-size: 12px;
				padding-top: 13px;
			}
			h6{
				font-style: italic;
				font-size: 12px;
				padding-bottom: 17px;
			}
			p{
				padding: 0 67px;
				text-transform: uppercase;
				font-size: 9px;
				color: $second_color;
				padding-bottom: 15px;
			}
			em{
				display: block;
				font-size: 10px;
				color: $second_color;
				font-style: italic;
				padding: 13px 0 0 0;
			}
			section{
				font-size: 9px;
				color: $second_color;
				text-align: center;
				line-height: 15px;
				padding: 0 65px;
				margin-top: 16px;
			}
			article{
				font-size: 12px;
				font-style: italic;
				padding-top: 70px;
			}
			h2{
				font-size: 14px;
				font-style: italic;
			}
		}
}